<!-- Toolbar -->
<div class="toolbar" role="banner">
  <strong>
    <h3><span id="todo">T</span>odo <span id="list">L</span>ist</h3>
  </strong>
</div>
<div class="container">
  <center>
    <h4>Bem vindo ao Todo List.</h4>
    <br />
    <strong>
      <p>O que vamos fazer hoje?</p>
    </strong>

    <div class="input-group mb-3 input-afazer">
      <input type="text" class="form-control" placeholder="Digite aqui..." aria-label="Digite aqui..."
        aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div>
  </center>

  <div>
    <ul>
      <li *ngFor="let lista_afazere of lista_afazeres">{{lista_afazere}}</li>
    </ul>
  </div>
</div>



<router-outlet></router-outlet>