 :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar strong {
    margin: 0 16px;
    font-size: 16px;
    font-size: larger;
  }

  #todo{
      color: red;
  }
  #list{
      color: #19d238;
  }

  .container{
      padding: 70px;
  }

  .input-afazer{
    width: 500px;
    padding: 30px;
  }

  .titulo-form h4{
    display: flexbox;
    justify-content: center;
    align-items: center;
  }
  
  
.input-afazer{
  display: flex;
  width: 100%;
  justify-content: center;
}

.input-afazer .form{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.di_lista{
  padding-top: 20px;
}